/*css for the body*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/*css for the textarea*/
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/*css for the header*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


/*css for the time block div*/
.time-block{
  text-align: center;
  border-radius: 15px;
}

/*css for the row*/
.row {
  white-space: pre-wrap;
  height: 100%;
  border-top: 1px solid white;;
}
/*css for the times column */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/*change the textarea color if the current time is more*/
.past {
  background-color: #d3d3d3;
  color: black;
}

/*change the textarea color if the current time is same*/
.present {
  background-color: #ff6961;
  color: black;
}

/*change the textarea color if the current time is less*/
.future {
  background-color: #77dd77;
  color: black;
}

/*css for the save button*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/*when mouse hover the save button*/
.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
